################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/.vs
/api/starbase.db
/api/obj
/api/bin/Debug/net8.0
/StargateAPITest/bin/Debug/net8.0
/StargateAPITest/obj/Debug/net8.0
/StargateAPITest/obj
